@layer base {
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.nav-list {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  gap: 0.5rem;
 
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #4B5563;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  color: #2563EB;
  background-color: #EFF6FF;
  border-right: 4px solid #2563EB;
}

.icon-size {
  height: 18px;
  width: 18px;

}

.nav-item:hover .icon-size {
  color: #2563EB;

}